[submodule "zsh/.config/zsh/antidote"]
	path = zsh/.config/zsh/antidote
	url = https://github.com/mattmc3/antidote.git
[submodule "tmux/.config/tmux/.tmux"]
	path = tmux/.config/tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "bin/.local/bin"]
	path = bin/.local/bin
	url = git@github.ibm.com:garytu/bin.git
